<div id="right">
  <% @wines.each do |wine| %>
    <div>
      <h3><%= wine.name %></h3>
    </div>
    <div>
     	<h3><%= wine.vineyard %></h3>
    </div>
    <div>
     	<h3><%= wine.year %></h3>
    </div>
    <div>
     	<h3><%= wine.color %></h3>
    </div>
    <div>
     	<h3><%= wine.notes %></h3>
    </div>
    <div>
     	<h3><%= wine.link %></h3>
    </div>
    <br>
  <% end %>
</div>