<div id="right">
  <div id="newWineTitle">
    NEW WINE
  </div>

  <div class="newWine">
  <%= form_for @wine do |f| %>
    <div id="newWineName">
      <%= f.text_field :name, placeholder: "Name" %>
    </div>
    <div id="newWineVineyard">
      <%= f.text_field :vineyard, placeholder: "Vineyard" %>
    </div>
    <div id="newWineYear">
      <%= f.text_field :year, placeholder: "Year" %>
    </div>
    <div id="newWineColor">
      <%= f.text_field :color, placeholder: "Color" %>
    </div>
    <div id="newWineNotes">
      <%= f.text_field :notes, placeholder: "Notes" %>
    </div>
    <div id="newWineLink">
      <%= f.text_field :link, placeholder: "Link" %>
    </div>
<!--     <div>
      <%= f.hidden_field :review, :value => nil %>
    </div>      
    <div>
      <%= f.hidden_field :textNotes, :value => nil %>
    </div>      
    <div>
      <%= f.hidden_field :user_id, :value => nil %>
    </div>
    <div>
      <%= f.hidden_field :wine_id, :value => nil %>
    </div> -->
    <%= f.submit "Create Wine", class: "btn btn-danger" %>

  <% end %> 
</div>