<div id="right">  
  <div class="singleWineTraits">
    <!-- <h3>Wine id: <%= @wine.id %></h3> -->
    <div>Vineyard: <%= @wine.vineyard %></div>
    <div>Name: <%= @wine.name %></div>
    <div>Year: <%= @wine.year %></div>
    <div>Color: <%= @wine.color %></div>
    <div>Notes: <%= @wine.notes %></div>
    <div><%= @wine.link %></div>
	</div>
  <br>


  <div class="infoForm">
    Make a new post
    <%= form_for @info do |f| %>
      <div>
      <!-- TODO: make this a radio button with stars -->
        <%= f.text_field :review, placeholder: "Review" %> 
      </div>
      <div>
        <%= f.text_field :textNotes, placeholder: "Notes" %>
      </div>
      <div>
        <%= f.hidden_field :user_id, :value => current_user.id %>
      </div>
      <div>
        <%= f.hidden_field :wine_id, :value => @wine.id %>
      </div>
      <div id="infoSubmitButton">
      <%= f.submit "Create Info" %>
      </div>
      <br>
    <% end %> 
  </div>

  <div> 
  	<div class="submittedInfos">
      <% @wine.infos.each do |info| %>
      	<%= info.review %> stars
        <br>
      	<%= info.textNotes %>
        <br>
      <% end %>
  	</div>
  </div>
</div>






