<!DOCTYPE html>
<html>
<head>
  <title>Drunk Grasshopper</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render "header" %>
  <main>
    <%= yield %>
  </main>
</body>
</html>